<web-app>
    <servlet>
        <servlet-name>genericserv</servlet-name>
        <servlet-class>genericserv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>genericserv</servlet-name>
        <url-pattern>/genericserv</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>factorial</servlet-name>
        <servlet-class>factorial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>factorial</servlet-name>
        <url-pattern>/factorial</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>numbers</servlet-name>
        <servlet-class>numbers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>numbers</servlet-name>
        <url-pattern>/numbers</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>userpassword</servlet-name>
        <servlet-class>userpassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userpassword</servlet-name>
        <url-pattern>/userpassword</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>userpasswordsql</servlet-name>
        <servlet-class>userpasswordsql</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userpasswordsql</servlet-name>
        <url-pattern>/userpasswordsql</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>num_power</servlet-name>
        <servlet-class>num_power</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>num_power</servlet-name>
        <url-pattern>/num_power</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>event</servlet-name>
        <servlet-class>event</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>event</servlet-name>
        <url-pattern>/event</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>insertevent</servlet-name>
        <servlet-class>insertevent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertevent</servlet-name>
        <url-pattern>/insertevent</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>insertfindevent</servlet-name>
        <servlet-class>insertfindevent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertfindevent</servlet-name>
        <url-pattern>/insertfindevent</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>selfredirect</servlet-name>
        <servlet-class>selfredirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selfredirect</servlet-name>
        <url-pattern>/selfredirect</url-pattern>
	</servlet-mapping>	
	<servlet>
        <servlet-name>selfredirect1</servlet-name>
        <servlet-class>selfredirect1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>selfredirect1</servlet-name>
        <url-pattern>/selfredirect1</url-pattern>
	</servlet-mapping>	
</web-app>